<body>
  <div class="page">
    <div class="captured">
      <p>Congratulations Agent {{userName}}</p>
      <p>You have captured Carmen Sandiego!</p>
      <p>It took you {{score}} hours to capture Carmen</p>
      <p>You have been promoted to Sleuth</p>
      <p>Click <a routerLink="/scores" routerLinkActive="active"> Here</a>  to check out the high scores.</p>
      <button type="button" class="beginNewCase" routerLink="/" routerLinkActive="active">Return To Office</button>
    </div>
    <div class="images">
      <img id="top" class="animated bounceInDown" src="https://ecowall.com.ua/files/images/fabric/6/4.png">   
    </div>

  </div>
</body>


